.content {
    position: relative;
    flex: 0 0 20%
}

.search {
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.26);
    min-height: 49px;

}

input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 195px;
    font-size: 24px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.searchList {
    width: 100%;
    overflow: scroll;
    max-height: 500px;
}

@media (max-width: 800px) {
    .searchList {
        height: 0;
        position: absolute;
        background-color: white;
        transition: all 0.3s ease;
    }

    .searchList.active {
        height: 150px;
    }
}