.content {
    height: 100%;
    position: relative;
    flex: 0 0 20%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-top-left-radius: 8px;
}

.search {
    display: flex;
    justify-content: center;
    min-height: 49px;
}

input {
    width: 195px;
    font-size: 24px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.searchList {
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
}

@media (max-width: 800px) {

}