.content {
    height: 100%;
    position: relative;
    flex: 0 0 20%;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-top-left-radius: 8px;
}

.search {
    display: flex;
    justify-content: center;
    min-height: 49px;
}

.input {
    width: 195px;
    font-size: 24px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.searchList {
    width: 100%;
    overflow-y: scroll;
    max-height: 500px;
}
.load{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px blue dashed;
    margin: 10px auto;

    animation: loading 2s infinite;
}
@keyframes loading {
    0%{
        transform: rotate(0) scale(1);
    }
    100%{
        transform: rotate(360deg) scale(1.5);
    }
}

@media (max-width: 800px) {
    .input{
        width: 148px;
    }
}