.card {
    display: flex;
    align-items: center;
    width: 281px;
    height: 81px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

/*.round {
    width: 50px;
    height: 50px;
    padding: 18px 15px;
    border-radius: 50px;
    border: none;
}*/

.avatarBox {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.avatarBox img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

.avatar {
    z-index: 10;
}

.defaultAvatar {
    z-index: 1;
}

.textBox {
    max-width: 193px;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.textBox div {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.mainText {
    font-size: 24px;
    line-height: 28px;
}

.secondaryTextBox {
    max-width: 189px;
}

.secondaryText {
    font-size: 12px;
    line-height: 14px;
    float: left;
    width: 159px;
}

.buttonCard {
    float: right;
    width: 29px;
}