
.card {
    display: flex;
    width: 281px;
    height: 81px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.round {
    width: 50px;
    height: 50px;
    padding: 18px 15px;
    border-radius: 50px;
    border: none;
}

.textBox {
    width: 193px;
    padding-top: 18px;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.textBox div {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.mainText {
    font-size: 24px;
    line-height: 28px;
}

.secondaryTextBox {
    width: 189px;
}

.secondaryText {
    font-size: 12px;
    line-height: 14px;
    float: left;
    width: 159px;
}

.buttonCard {
    float: right;
    width: 29px;
}