.container {
    width: 100%;
    background: #E5E5E5;

}


.body {
    padding: 20px 30px;
    display: flex;
    min-height: calc(100vh - 50px);
    justify-content: space-around;
    position: relative;
}

.content {
    width: 100%;
    display: flex;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    margin-left: 30px;
}


@media (max-width: 900px) {
    .sidebar {
        padding: 10px;
        position: absolute;
        top: 0;
        left: -100%;
        transition: 0.5s all;
        z-index: 100;
        background-color: rgba(0, 148, 255, 1);
        height: 100%;
        box-shadow: 6px 0px 10px 0px rgba(34, 60, 80, 1)
    }

    .sidebar.active {
        left: 0;
        padding-left: 10px;
    }

}

@media (max-width: 768px) {
    .content {
        display: block;
        margin-left: 0;
    }
}
