.container{
    width: 100%;
    min-height: 100vh;
    background: #E5E5E5;

}


.body{
    padding: 0 30px;
    display: flex;
    min-height: 500px;
    justify-content: space-around;
    position: relative;
}

.content{
    width: 90vw;
    display: flex;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
}



@media (max-width: 900px) {
    .sidebar{
        padding: 10px;
        position: absolute;
        top: 0;
        left: -100%;
        transition: 0.5s all;
        z-index: 100;
        background-color: #0094FF;
        height: 100%;
    }
    .sidebar.active{
        left: 0;
        padding-left: 10px;
    }

}
@media (max-width: 768px){
    .content{
        display: block;

    }
    .container{
        padding-bottom: 30px;
    }

}
