.book {
    min-width: 170px;
    min-height: 200px;
    margin-right: 20px;
}

.description {
    max-width: 900px;
    padding: 10px;
}

.h1 {
    font: 30px serif;
}

.p {
    max-height: 300px;
    overflow: scroll;
    font: 24px serif;
}

.like_book {
    margin-left: 2%;
    max-width: 25px;
}

.top {
    display: flex;
}

.content p{
    font-size: 18px;
}

