.book {
    width: 100%;
    margin-right: 20px;
}

.exit {
    padding: 10px;
    background-color: #0094FF;
    border-radius: 50%;
}

.description {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.h1 {
    font: 30px serif;
    margin-bottom: 5px;
    font-weight: 500;
}

.p {
    white-space: pre-wrap;
    padding: 5px;
    flex: 1 1 50%;
    max-height: 200px;
    overflow-y: scroll;
    font: 24px serif;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.like_book {
    margin-left: 2%;
    max-width: 25px;
    margin-bottom: 10px;
}

.top {
    display: flex;
    flex: 0 0 50%;
}

.content p {
    margin-bottom: 10px;
    font-size: 18px;
}

.avatar {
    margin-right: 50px;
}

@media (max-width: 768px) {
    .h1 {
        font-size: 24px;
    }

    .top {
        flex-direction: column;
    }

    .avatar {
        width: 100%;
    }

    .content p {
        font-size: 15px;
    }

    .p {
        font-size: 18px;
    }
}