.container{
    max-width: 177px;
}
.favorites{
    padding-bottom: 21px;
    border-bottom: 1px solid ;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}
.favorites img{
    width: 20px;
    height: 20px;
}
.title{
    margin-left: 12px;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
}
.category__item{
    font-size: 24px;
    margin-bottom: 15px;
    cursor: pointer;
}

